{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "**/*.mjs",
      "options": { "printWidth": 100 }
    }
  ]
}
